In [4]:
import findspark

findspark.init("C:/Users/Avinash/Desktop/Spark/spark-3.0.2-bin-hadoop2.7")

In [5]:
import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = spark.sql("select 'spark' as hello ")

df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [6]:
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [7]:
startup_db=spark.read.csv("C:/Users/Avinash/Desktop/startup.csv",inferSchema=True,header=True)

In [8]:
consumerinter_db=spark.read.parquet("C:/Users/Avinash/Desktop/consumerInternet.parquet")

In [9]:
df3=startup_db.unionAll(consumerinter_db)

df3.printSchema()

root
 |-- Sr_No: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Startup_Name: string (nullable = true)
 |-- Industry_Vertical: string (nullable = true)
 |-- SubVertical: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Investors_Name: string (nullable = true)
 |-- InvestmentnType: string (nullable = true)
 |-- Amount_in_USD: string (nullable = true)
 |-- Remarks: string (nullable = true)

In [21]:
##How many startups are there in Pune City

In [19]:
df3.createOrReplaceTempView("df3")

PuneStartups = spark.sql("SELECT COUNT(Startup_Name)AS TotalStartup FROM df3 WHERE City = 'Pune'")
PuneStartups.show()

+------------+
|TotalStartup|
+------------+
|         105|
+------------+

In [22]:
###How many startups in Pune got their Seed/ Angel Funding?

In [18]:
Startups = spark.sql("SELECT COUNT(Startup_Name) AS TotalStartup FROM df3 WHERE InvestmentnType like 'Seed%/%' AND City = 'Pune'")
Startups.show()

+------------+
|TotalStartup|
+------------+
|           6|
+------------+

In [23]:
##What is the total amount raised by startups in Pune City? Hint - use regex_replace to get rid of null

In [12]:
PuneCityAmount = spark.sql("SELECT SUM(regexp_replace(Amount_in_USD, 'N/A', '00')) AS Amount FROM df3 WHERE City = 'Pune'")
PuneCityAmount.show()

+------+
|Amount|
+------+
|   0.0|
+------+

In [24]:
##What are the top 5 Industry_Vertical which has the highest number of startups in India?

In [13]:
TopFive = spark.sql("SELECT Industry_Vertical, COUNT(Startup_Name) FROM df3 GROUP BY Industry_Vertical ORDER BY COUNT(Startup_Name) DESC LIMIT 5")
TopFive.show()

+-----------------+-------------------+
|Industry_Vertical|count(Startup_Name)|
+-----------------+-------------------+
|Consumer Internet|                941|
|       Technology|                478|
|        eCommerce|                186|
|              nan|                171|
|       Healthcare|                 70|
+-----------------+-------------------+